NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_SITE_URL=http://localhost:5173
NEXT_PUBLIC_STAGING_URL=https://testcnflms.netlify.app
NEXT_PUBLIC_PRODUCTION_URL=https://student.skillscaleup.org
NEXT_PUBLIC_API_URL=https://base-api.skillscaleup.org
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:5173/api/google/callback
GOOGLE_OAUTH_SCOPES=https://www.googleapis.com/auth/classroom.courses.readonly,https://www.googleapis.com/auth/classroom.coursework.me.readonly
TOKEN_ENCRYPTION_SECRET=
